<div class="player" [class.player-active]="playerIsActive">
    <img src="assets/img/profile/avatar.png" (click)="toggleEditMode()"> 
    <span *ngIf="!editMode">{{ name }}</span>
    <div *ngIf="editMode" class="input-field">
        <input
            type="text" 
            [(ngModel)]="name"
            placeholder="Name..."
            autofocus>
        <div class="edit-buttons">
            <button 
                mat-mini-fab 
                (click)="emitUpdateEvent()">
                    <mat-icon>check_circle</mat-icon>
            </button>
            <button 
                mat-mini-fab 
                class="delete-user-btn" 
                (click)="emitDeleteEvent()">
                    <mat-icon color="warn">delete_forever</mat-icon>
            </button>
        </div>
    </div>
</div>
