// import SASS variables
// (as CSS custom props can be used in media-query declarations)
@import './src/breakpoints.scss';

.start-screen {
    background-image: url('../../assets/img/cards-1912165_1920.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    max-width: 100%; //sonst teilweise scrollbalken & in vw sind scrollbalken nicht mit eingerechnet
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 3rem;
    box-sizing: border-box;
    
    &:before {
        content: '';
        position: absolute;
        top:0; bottom:0;
        left:0; right:0;
        background-color: rgb(0, 0, 0, 0.3);
    }
    
    img {
        height: 100vh;
    }
}

h1 {
    text-align: center;
    font-weight: bold;
    color: orangered;
    text-transform: uppercase;
    font-size: 3rem;
    margin: 0.6rem 0;
    text-shadow: 2px -2px 6px yellow;
    z-index: 1;

    &:hover {
        color: orange;
        // text-shadow: 2px -2px 9px red;
    }

    @media screen and (max-width: $breakpoint-sm) {
        font-size: 2.6rem;
    }

    @media screen and (max-width: $breakpoint-s) {
        font-size: 2.4rem;
    }

    @media screen and (max-width: $breakpoint-xs) {
        font-size: 2.3rem;
    }

    @media screen and (max-width: $breakpoint-xxs) {
        font-size: 2rem;
    }
}

.start-label-box {
    left: 0;
    right: 0;
}

.start-label {
    position: relative;
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        //width: 60vw;
        //max-width: 40rem;
        width: 40rem;
        height: auto;

        @media screen and (max-width: $breakpoint-sm ) {
            width: 34rem;
        }

        @media screen and (max-width: $breakpoint-s) {
            width: 25rem;
        }

        @media screen and (max-width: $breakpoint-xs) {
            width: 20rem;
        }

        @media screen and (max-width: $breakpoint-xxs) {
            width: 17rem;
        }
    
        &:hover {
            filter: brightness(1.2);
            cursor: pointer;
        }
    }
}

.start-label-text {
    position: absolute;
    top: 38%;
    font-size: 2rem;
    color: brown;
    z-index: 1;
    font-weight: bold;

    &:hover {
        color: orangered;
        cursor: pointer;
    }

    @media screen and (max-width: $breakpoint-sm) {
        font-size: 1.6rem;
        top: 36%;
    }

    @media screen and (max-width: $breakpoint-s) {
        font-size: 1.4rem;
        top: 35%;
    }

    @media screen and (max-width: $breakpoint-xs) {
        font-size: 1.3rem;
        top: 31%;
    }

    @media screen and (max-width: $breakpoint-xxs) {
        //width: 17rem;
        font-size: 1.1rem;
    }
}

#room-list {
    z-index: 1;
}

.room-list-heading {
    color: orangered;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    margin: 0 0 1rem 0;

    @media screen and (max-width: $breakpoint-xs) {
       font-size: 0.9rem;
    }

    @media screen and (max-width: $breakpoint-xxs) {
       font-size: 0.8rem;
    }

    &:hover {
        color: orange;

        .arrow-down {
            color: orangered;
            animation: none;
            transform: scale(1.2);
        }
    }

    .arrow-down {
        //transition: all 235ms linear;
        animation: pulse 1.5s linear infinite;

        position: relative;
        top: 0.5rem;
        left: 0.5rem;
        font-size: 1.75rem;
        overflow: visible;

    }
}

// TMP.:
ul {
    color: rgb(185, 180, 180);
    z-index: 3;
    list-style-type: none;
    line-height: 2.5;
    margin: 0;
    translate: all 235ms;
    max-height: 250px;
    overflow: auto;
    background-color: rgba(0,0,0,0.85);
    border-radius: 0.5rem;
    padding: 1rem;
    max-height: 35vh;
    box-sizing: border-box;

    /* Scrollbar */
    /* width */
    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: black;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgb(136, 136, 136);
      border-radius: 4px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: rgb(85, 85, 85);
    }

    @media screen and (max-width: $breakpoint-s) {
        font-size: 0.8rem;
    }

    @media screen and(max-width:460px) {
        font-size: 0.7rem;
    }

    @media screen and(max-width: 420px){
        font-size: 0.65rem;
        padding: 0.8rem;
    }

    @media screen and (max-width: $breakpoint-xs) {
        font-size: 0.6rem;
    }

    @media screen and (max-width: $breakpoint-xxs) {
        font-size: 0.55rem;
    }

    a {
        color: rgb(244, 149, 33);
        text-decoration: none;

        &:hover {
            color: white;
        }

    }

    span {
        color: gray;
        font-weight: bold;
        //cursor: help;
    }

    li {
        cursor: default;
    }

    .active {
        color: var(--blue-1);
        color: rgb(127, 220, 173);
        //cursor: default;
    }

}

.fade-out {
    transform: translateY(90vh);
    animation: hide-box 1s ease-in;
}

@keyframes hide-box {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vh);
    }

}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}