.start-screen {
    background-image: url('../../assets/img/cards-1912165_1920.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    max-width: 100%; //sonst teilweise scrollbalken & in vw sind scrollbalken nicht mit eingerechnet
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 3rem;
    box-sizing: border-box;
    
    &:before {
        content: '';
        position: absolute;
        top:0; bottom:0;
        left:0; right:0;
        background-color: rgb(0, 0, 0, 0.3);
    }
    
    img {
        height: 100vh;
    }
}

h1 {
    text-align: center;
    font-weight: bold;
    color: orangered;
    text-transform: uppercase;
    font-size: 3rem;
    text-shadow: 2px -2px 6px yellow;
    z-index: 1;

    &:hover {
        color: orange;
        // text-shadow: 2px -2px 9px red;
    }
}

.start-label-box {
    left: 0;
    right: 0;
}

.start-label {
    position: relative;
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 60vw;
        height: auto;
    
        &:hover {
            filter: brightness(1.2);
            cursor: pointer;
        }
    }
}

.start-label-text {
    position: absolute;
    top: 35%;
    font-size: 1.5rem;
    color: brown;
    z-index: 1;
    font-weight: bold;

    &:hover {
        color: orangered;
        cursor: pointer;
    }
}

.rooms-info {
    color: orangered;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    margin: 0;

    &:hover {
        color: orange;
    }
}

// TMP.:
ul {
    color: rgb(185, 180, 180);
    z-index: 3;
    list-style-type: none;
    line-height: 2.5;
    margin: 0;
    
    translate: all 235ms;
    max-height: 250px;
    
    overflow: auto;
    background-color: rgba(0,0,0,0.85);
    border-radius: 0.25rem;
    padding: 1rem;
    max-height: 80vh;
    box-sizing: border-box;

    a {
        color: rgb(244, 149, 33);
        text-decoration: none;

        &:hover {
            color: white;
        }

    }

    span {
        color: gray;
        font-weight: bold;
    }

    .active {
        color: var(--blue-1);
        color: rgb(127, 220, 173);
    }

}

.fade-out {
    transform: translateY(90vh);
    animation: hide-box 1s ease-in;
}

@keyframes hide-box {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vh);
    }

}