// SASS variables
// CSS custom properties can NOT be used in media-querie declarations
$breakpoint-xxs: 350px;
$breakpoint-xs: 400px;
$breakpoint-s: 576px;
$breakpoint-sm: 768px;
$breakpoint-mm: 880px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1500px;

$breakpoint-y-xs: 500px;
$breakpoint-y-s: 650px;
$breakpoint-y-m: 735px ;
$breakpoint-y-l: 900px;

