.game-over {
    mat-card-title {
        color: orangered;
    }

    mat-card-content {
        color: orange;
        //margin-bottom: 0.25rem;
    }

    mat-card-actions {
        padding: 0;
        
        button {
            //border: 1px solid orange;

            &:hover {
                background-color: rgba(255, 140, 50, 0.5);

            }
        }
    }
}